/*slider*/

/*title of search*/
.search-title {
    font-weight: 700;
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin: 10px;
    padding: 20px;
    text-transform: capitalize;
}

/*menu bar*/
.left-menu {
    margin: 10px;
}

.category-list ul {
    list-style: none;
    width: 100%;
}

.category-list a {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}

.category-list li {
    line-height: 35px;
}

.category-list ul li a {
    display: block;
    width: 100%;
}

.category-list a:hover {
    color: #ffb700;
}

.category-l0 {
    margin-bottom: 10px;
    width: 100%;
    position: relative;

}

.category-l0 a i {
    position: absolute;
    right: 20px;
    line-height: 35px;
}

.category-l0 a {
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
}

.category-l1 {
    margin-left: 10px;
    margin-top: 10px;
}

.category-l1 a {
    font-weight: 500;
    font-size: 18px;
}

.category-l2 {
    margin-left: 10px;
    margin-top: 10px;
}

.category-l2 a {
    font-weight: 500;
    font-size: 16px;
}

.category-l3 {
    margin-left: 10px;
    margin-top: 10px;
}

.category-l3 a {
    font-weight: 500;
    font-size: 14px;
}

.filter-header {
    font-size: 22px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ffb700;
    margin: 10px;
}

.right-sort {
    border: none;
    text-transform: capitalize;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    outline: none;
}


/*filter list*/
.filter-list {
    display: flex;
}

.filter-item {
    margin: 10px;
    padding: 5px 20px;
    border: 1px solid lightgray;
    color: gray;
    cursor: pointer;
}

.filter-item:hover {
    border: 1px solid #ffb700;
    color: #ffb700;
}

.filter-item .del {
    font-weight: 800;
}

/*product list*/
.product-container {
    grid-template-columns: repeat(2, 1fr);
}

.hide {
    display: none;
}

