@import 'nav.css';
@import 'footer.css';

::-webkit-scrollbar {
    display: none;
}

/* product */
.product {
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.product-category {
    margin-top: 50px;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.product-container {
    padding: 0 10vw;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    margin-bottom: 50px;
}

.product-container .brand-logo {
    width: 300px;
    height: 150px;
    background: white;
    padding: 0 40px 0 40px;
}

.product-card {
    flex: 0 0 auto;
    width: 300px;
    height: 350px;
    margin-right: 40px;
}

.product-image {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;

}

.product-thumb {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.discount-tag {
    position: absolute;
    background: white;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: white;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn {
    opacity: 1;
}

.card-btn:hover {
    background: #efefef;
}

.product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 300;
}

.price {
    font-weight: 900;
    font-size: 15px;
}

.actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

.service-card {
    width: 350px;
    height: 400px;
    justify-content: center;
    justify-items: center;
    padding: 10px;
    text-align: center;
}

.service-icon {
    width: 100%;
    margin-top: 60px;
    text-align: center;
}

.service-title {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
}

.service-contents {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.contact-form {
    height: 100%;
    margin-left: 25px;
}

.contact-form input, .contact-form textarea {
    border: 1px solid lightgray;
    border-radius: 0;
    font-size: 15px;
    margin: 10px;
    padding: 10px;
    width: 100%;
}

.contact-form .form-row {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}

.contact-form input[type=submit] {
    color: white;
    font-size: 18px;
    background: black;
    text-transform: uppercase;
    cursor: pointer;
}

.contact-form input[type=submit]:hover {
    color: black;
    background: #ffb700;
}

.product-image {
    height: 250px;
}

.product-card img {
    display: block;
    max-height: 230px;
}




