@import 'nav.css';
@import 'footer.css';


.hero-section {
    width: 100%;
    height: 40rem;
    background-image: url("../img/banner/z3031341225210_c01dfc01eb1fa539962c041749849542.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.hero-section .logo {
    height: 150px;
    display: block;
    margin: auto;
}

.hero-section .sub-heading {
    margin-top: 100px;
    text-align: center;
    color: white;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 300;
}

/* product */
.product {
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
    display: none;
}

.product-card {
    flex: 0 0 auto;
    width: 300px;
    height: 350px;
    margin-right: 40px;
}

.product-image {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.product-thumb {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.discount-tag {
    position: absolute;
    background: white;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: white;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn {
    opacity: 1;
}

.card-btn:hover {
    background: #efefef;
}

.product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 300;
}

.product-short-des {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price {
    font-weight: 900;
    font-size: 15px;
}

.actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

.pre-btn, .nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 100%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

.pre-btn img, .nxt-btn img {
    opacity: 0.2;
}

.pre-btn:hover img, .nxt-btn:hover img {
    opacity: 1;
}

.slide-container {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.img-slider {
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    transition: .7s;
}

.slide-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}

.img-slide {
    position: relative;
    width: 800px;
    height: 370px;
    transition: .5s;
    filter: saturate(50%);
}

.button-slider {
    position: absolute;
    width: 800px;
    height: 370px;
    transition: .5s;
    background-color: rgba(0, 0, 0, 0.4);
}

.button-slider:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#slider-span1:target ~ .img-slider #img1,
#slider-span1:target ~ .img-slider #button1 {
    width: 900px;
    height: 410px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span1:target ~ .img-slider #img1,
#slider-span1:target ~ .img-slider #button1 {
    width: 900px;
    height: 410px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span2:target ~ .img-slider #img2,
#slider-span2:target ~ .img-slider #button2 {
    width: 900px;
    height: 410px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span3:target ~ .img-slider #img3,
#slider-span3:target ~ .img-slider #button3 {
    width: 900px;
    height: 410px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span4:target ~ .img-slider #img4,
#slider-span4:target ~ .img-slider #button4 {
    width: 900px;
    height: 410px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span5:target ~ .img-slider #img5,
#slider-span5:target ~ .img-slider #button5 {
    width: 900px;
    height: 410px;
    background-color: transparent;
    filter: saturate(100%);
}

/* image position*/
#slider-span1:target ~ .img-slider {
    left: 120%
}

#slider-span2:target ~ .img-slider {
    left: 60%
}


#slider-span4:target ~ .img-slider {
    left: -60%
}

#slider-span5:target ~ .img-slider {
    left: -120%
}
