* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.navbar, .ad-navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffb700;
    z-index: 9;
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 2px -2px rgba(255, 183, 0, 0.5);
}

.ad-navbar {
    background: white;
}

.ad-navbar .nav-items {
    width: 100%;
    justify-content: right;
}


.brand-logo {
    height: 50px;
}

.nav-items {
    display: flex;
    align-items: center;
}

.search {
    width: 500px;
}

.search-box::placeholder {
    color: #a9a9a9;
}

.nav-items a {
    margin-left: 20px;
    position: relative;
}

.nav-items a img {
    width: 30px;
    cursor: pointer;
}
.nav-items a #numOfChosenProduct {
    position: absolute;
    top: -5px;
    left: 8px;
    font-size: 12px;
    font-weight: 700;
    color: black;
    background: white;
    padding: 0 5px 0 5px;
    border-radius: 30px;
}

.links-container {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 20px;
}

.link {
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    transition: .5s;
    text-transform: uppercase;
}

.link:hover {
    color: white;
    text-decoration: none;

}

.account-info{
    font-size: 20px;
    text-transform: capitalize;
}

#user-btn{
    padding: 10px;
    background: #383838;
    color: white;
    border: none;
    outline: none;
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
    text-transform: capitalize;
}

.hide{
    opacity: 0;
    pointer-events: none;
}
