* {
    margin: auto;
    padding: 0;
    font-family: 'roboto', sans-serif;
}

.intro-logo {
    text-align: center;
}

.paragraph {
    width: 100%;
    margin: auto;
    text-align: center;
}

.member {
    margin: 10px;
    padding: 22px;
    cursor: pointer;
    transition: 0.4s;
    box-sizing: border-box;
    text-align: center;
}

.member:hover {
    border: 1px solid #ffb700;
}

.member img {
    width: 100%;
}

.name-mb {
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.id-and-class {
    color: #888;
}

.about {
    margin: 20px 0;
    font-weight: lighter;
    color: #4e4e4e;
}