* {
}

.row {
    width: 100%;
}

.col-sm-3 {
    position: fixed;
}

.category-l0 {
    margin-right: 0;
    background: #ffb700;
    height: 100vh;
}

.category-l0 a {
    display: inline-block;
    width: 100%;
    line-height: 60px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    padding: 10px 60px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #fadea1;
    margin: 0;
}


.category-l0 a:hover {
    background: black;
    color: white;
    text-decoration: none;
}

.col-sm-9 {
    height: 90vh;
    overflow-y: scroll;
}

#search-input {
    width: 95%;
    padding: 10px 10px;
    border: none;
    border-bottom: 3px solid #ffb700;
    font-size: 15px;
    outline: none;
    border-radius: 0;
}

#search-btn {
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    padding: 20px 0;
}

#search-btn img {
    height: 30px;
}

.data-getting {
    padding: 20px 0;
    font-size: 16px;
    text-align: right;
    float: right;
}

.data-getting button, .mini-menu-bar button  {
    margin: 0 0 0 10px;
    text-transform: capitalize;
    padding: 10px 25px;
    border-radius: 0;
    border: none;
    background: #ffb700;
    color: black;
    font-weight: bold;
}

.data-getting button:hover, .mini-menu-bar button:hover {
    color: white;
    background: black;
}

.overview {
    width: 100%;
    margin-top: 20px;
}

.overview .review {
    display: inline-block;
    width: 100%;

}

.overview .review .review-left {
    float: left;

}

.review-left .title, .review-right .sum {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.review-left select {
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 0;
    text-align: left;
}

.overview .review .review-right {
    float: right;
    text-align: right;
}

.overview .comparing {
    font-size: 15px;
    text-align: right;
}

.increase {
    color: #0dbd0d;
}

.decrease {
    color: red;
}

.overview .revenue-amount {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    margin: 10px 0 20px 0;
}

.revenue-amount .card {
    padding: 20px 40px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    border-radius: 0;
    cursor: pointer;
    border: 1px solid #ffb700;
}

.revenue-amount .card .title {
    text-transform: uppercase;
}

.show-data {
    margin: 10px auto;
}

.show-data .mini-menu-bar {
    display: inline-block;
    font-size: 16px;
    width: 100%;
}

.mini-menu-bar button {
    float: right;
}

.mini-menu-bar input[type=checkbox] {
    margin: 10px 0;
    height: 20px;
    width: 20px;
    border: 1px solid #ffb700;
    border-radius: 0;
    outline: none;
}

.table-data {
    margin: 20px auto;
}

.table-data table {
    font-size: 13px;
    max-width: 200%;
    overflow: scroll;
    max-height: 300px;
}

.table-data table tr {
    padding: 5px 20px;
    border: 1px solid lightgray;
}

.table-data table #title {
    font-weight: 600;
}

.table-data table tr td {
    padding: 5px 10px;
    border-right: 1px solid lightgray;
}