* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

.bill {
    margin: 20px auto;
    padding: 10px 0;
    width: 70%;
    border: 2px solid #ffb700;
}

.item {
    border-top: 1px solid #ffb700;
    padding: 10px 25px;
}

.item:first-child {
    border: none;
}

.item .prd-info .prd-ava img {
    height: 100px;
    margin-right: 15px;
}

.prd-info {
    display: flex;
}

.prd-contents {
    width: 80%;
    margin-right: 10px;
}

.prd-name {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.prd-insurance, .prd-color {
    font-size: 13px;
    line-height: 25px;
}

.prd-insurance a {
    text-decoration: none;
    color: blue;
}

.message {
    color: red;
    font-size: 14px;
    line-height: 30px;
}

.total .price, .total .actual-price {
    font-size: 15px;
    color: red;
    text-align: right;
    line-height: 25px;
}

.total .actual-price {
    color: #797979;
    text-decoration: line-through;
}

.counter {
    display: flex;
    margin-top: 10px;
    margin-left: -10px;
}

.item-count {
    line-height: 36px;
    width: 40px;
    text-align: center;
    border: 1px solid lightgray;
    font-size: 16px;
}

.counter-btn {
    width: 40px;
    height: 40px;
    border: 1px solid lightgray;
    background: transparent;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
}

.counter-btn.increment:hover, .counter-btn.decrement:hover {
    color: #ffb700;
    border: 1px solid #ffb700;
}

.counter-btn.increment {
    color: blue;
}

.del {
    color: gray;
    text-align: center;
    font-size: 14px;
    margin-right: 15px;
}

.del i {
    margin: 0 5px;
}

.prd-color-list {
    border-radius: 10px;
    height: 200px;
    width: 250px;
    overflow-y: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prd-color-list::-webkit-scrollbar {
    display: none;
}

.prd-color-list .select-color {
    border-bottom: 1px solid lightgray;
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 10px;
    cursor: pointer;
}

.prd-color-list .select-color.active {
    font-weight: 800;
}

.prd-color-list .select-color img {
    width: 80px;
    margin-right: 15px;
}

.prd-color-list .select-color small {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #288ad6;
    margin-top: -40px;
    text-transform: capitalize;
}

.provisional {
    margin: 20px 0;
    padding: 15px 25px;
    width: 100%;
}

.provisional-title, .provisional-amount {
    font-size: 20px;
    font-weight: bold;
    float: left;
}

.provisional-amount {
    text-align: right;
    float: right;
}

.customer-info {
    width: 100%;
    border-top: 1px solid #ffb700;
    padding: 15px 25px;
    margin-top: 20px;
}

.cus-header, .receiving-header {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 20px;
    margin: 20px 0;
}

.cus-gender, .receiving-chosen {
    margin-bottom: 10px;
}

.cus-gender input[type=radio], .receiving-chosen input[type=radio] {
    margin-right: 5px;
}

.cus-gender label, .receiving-chosen label {
    margin-right: 20px;
    text-transform: capitalize;
}

.info-input {
    width: 100%;
    margin: 20px 0;
}

.info-input input, #cus-note, .comp-info input[type=text],
.discount-input input[type=text], .discount-input input[type=button],
.order-btn button {
    border-radius: 0;
    border: 1px solid lightgray;
    padding: 10px;
    font-size: 14px;
    outline: none;
    width: 49%;
}

.receiving-method {
    padding: 0 25px;
}

.address-chosen-table .for-personal, .address-chosen-table .for-showroom, .customer-info.request, .comp-info {
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
    padding: 15px 20px;
    width: 100%;
    margin: 20px auto;
}

.for-personal .title, .for-showroom .title {
    font-size: 16px;
    margin-bottom: 10px;
}

#cus-address, #receiving-time {
    width: 100%;
    border-radius: 0;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #e1e1e1;

}

.showroom-list {
    margin: 5px 0;
    height: 100px;
    overflow-y: scroll;
    display: block;
}

.showroom-list .showroom-address {
    margin: 12px 0;
    font-size: 15px;
    color: gray;
    text-transform: capitalize;
}

.showroom-address.selected {
    color: black;
}

.showroom-list .showroom-address label {
    margin-left: 5px;
    max-width: 90%;
}

.another-request {
    margin: auto;
    padding: 10px 20px;
}

#cus-note, .comp-info input[type=text] {
    width: 100%;
}

.req-list {
    padding: 20px;
    margin: auto;
}

.req {
    margin: 10px 0;
}

.req label {
    margin-left: 5px;
}

.customer-info.request {
    padding-top: 0;
    padding-bottom: 0;
}

.customer-info.request .cus-gender {
    margin-top: 20px;
}

.comp-info input[type=text] {
    margin: 5px 0;
}

.discount-input {
    border-bottom: 1px solid #ffb700;
    border-top: 1px solid #ffb700;
    padding: 15px 25px;
}

.discount-input input {
    margin: 10px 0;
}

.discount-input input[type=text] {
    width: 85%;
    margin-right: 10px;
}

.discount-input input[type=button], .order-btn button {
    width: 12%;
    text-align: center;
    background: #ffb700;
    border: 1px solid #ffb700;
    cursor: pointer;
}

.discount-input input[type=button]:hover, .order-btn button:hover {
    color: white;
    background: black;
    border: 1px solid black;
}

.discount-error {
    color: red;
    font-size: 12px;
}

.total-bill {
    padding: 15px 25px;
    font-size: 20px;
    font-weight: 600;
}

.total-bill .amount {
    color: red;
    float: right;
}

.order-btn {
    padding: 15px 25px;
}

.order-btn button {
    width: 100%;
    font-weight: 550;
    font-size: 18px;
    text-transform: uppercase;
}

.guide {
    font-size: 13px;
    text-align: center;
    color: gray;
    line-height: 20px;
}

.hide {
    display: none;
}
